<?xml version="1.0"?>
<model>
  <name>ender3Bed0</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Zahead Rashidi</name>
    <email>zahead.rashidi@student.uts.edu.au</email>
  </author>
  <description>
    an custom model of the creality ender3 bed
  </description>
</model>
