<?xml version="1.0"?>
<launch>

  <!-- Arguments from the second launch file -->
  <arg name="model_name" default="tm5-700"/>
  <arg name="xacro_model" default="tm5-700"/>
  <arg name="init_pose" default="-x 0.0 -y 0.0 -z 0.444 -R 0.0 -P 0.0 -Y 0.0"/>
  <arg name="world" default="$(find tm5_custom)/worlds/TestWorld2.world"/>
  <arg name="debug" default="false"/>
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="publish_frequency" default="125"/>

  <!-- Gazebo Simulation -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)"/>
    <arg name="debug" value="$(arg debug)"/>
    <arg name="gui" value="$(arg gazebo_gui)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
  </include>

  <!-- Load robot urdf.xacro to param server -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find tm5_custom)/description/urdf/$(arg xacro_model).urdf.xacro'" /> 

  <!-- Spawn robot in Gazebo -->
  <arg name="unpause" value="$(eval '' if arg('paused') else '-unpause')" />
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg model_name) $(arg unpause) $(arg init_pose)" respawn="false" output="screen" />

  <!-- RViz Visualization -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tm5_custom)/rviz/moveit.rviz" required="true" />

  <!-- MoveIt configuration from the first launch file-->
  <include file="$(find tm5_custom)/launch/rviz/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>
  
  <!-- robot_state_publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />
    <param name="publish_frequency" type="double" value="$(arg publish_frequency)" />

  <!-- Fake Calibration -->
  <node pkg="rostopic" type="rostopic" name="fake_joint_calibration" args="pub /calibrated std_msgs/Bool true" />

  <!-- joint_state_controller -->
  <rosparam file="$(find tm5_custom)/config/joint_state_controller.yaml" command="load"/>
  <node name="joint_state_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn joint_state_controller" respawn="false" output="screen"/>

  <!-- start arm controller -->
  <rosparam file="$(find tm5_custom)/config/tm_arm_controller.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>

  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" args="load joint_group_position_controller" respawn="false" output="screen"/>

</launch>
